<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcs.infra.persistence.mybatis.mapper.mes.MesPlantMapper">
    <select id="selectPlantList" resultType="com.mcs.domain.mes.dto.PlantDto">
        SELECT
            PLANT_CD,
            PLANT_NM,
            USE_YN
        FROM MST_PLANT
        WHERE USE_YN = 'Y'
        ORDER BY PLANT_CD
    </select>
</mapper>
