<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcs.infra.persistence.mybatis.mapper.inventory.InventoryMapper">

    <select id="selectLocStockList" resultType="com.mcs.domain.inventory.dto.LocStockDto">
        SELECT
            ls.LOC_STOCK_ID,
            ls.PLANT_CD,
            ls.LOCATION_ID,
            ls.ITEM_CD,
            ls.LOT_NO,
            ls.STOCK_QTY,
            ls.RESERVED_QTY,
            ls.AVAILABLE_QTY,
            ls.REG_USER_ID,
            ls.REG_DTM,
            ls.UPD_USER_ID,
            ls.UPD_DTM,
            p.PLANT_NM,
            w.WAREHOUSE_NM,
            z.ZONE_NM,
            l.LOCATION_CD,
            l.LOCATION_NM,
            i.ITEM_NM,
            i.ITEM_SPEC,
            i.UNIT
        FROM MCS_LOCATION_STOCK ls
        INNER JOIN MST_PLANT p ON ls.PLANT_CD = p.PLANT_CD
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        <where>
            <if test="plantCd != null and plantCd != ''">AND ls.PLANT_CD = #{plantCd}</if>
            <if test="warehouseCd != null and warehouseCd != ''">AND w.WAREHOUSE_CD = #{warehouseCd}</if>
            <if test="zoneId != null">AND z.ZONE_ID = #{zoneId}</if>
            <if test="locationCd != null and locationCd != ''">AND l.LOCATION_CD LIKE CONCAT('%', #{locationCd}, '%')</if>
            <if test="itemCd != null and itemCd != ''">AND (ls.ITEM_CD LIKE CONCAT('%', #{itemCd}, '%') OR i.ITEM_NM LIKE CONCAT('%', #{itemCd}, '%'))</if>
            <if test="lotNo != null and lotNo != ''">AND ls.LOT_NO LIKE CONCAT('%', #{lotNo}, '%')</if>
            <if test="excludeZeroStock != null and excludeZeroStock == true">AND ls.STOCK_QTY > 0</if>
        </where>
        ORDER BY w.WAREHOUSE_CD, z.SORT_SEQ, l.LOCATION_CD, ls.ITEM_CD, ls.LOT_NO
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectLocStockCount" resultType="long">
        SELECT COUNT(*)
        FROM MCS_LOCATION_STOCK ls
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        <where>
            <if test="plantCd != null and plantCd != ''">AND ls.PLANT_CD = #{plantCd}</if>
            <if test="warehouseCd != null and warehouseCd != ''">AND w.WAREHOUSE_CD = #{warehouseCd}</if>
            <if test="zoneId != null">AND z.ZONE_ID = #{zoneId}</if>
            <if test="locationCd != null and locationCd != ''">AND l.LOCATION_CD LIKE CONCAT('%', #{locationCd}, '%')</if>
            <if test="itemCd != null and itemCd != ''">AND (ls.ITEM_CD LIKE CONCAT('%', #{itemCd}, '%') OR i.ITEM_NM LIKE CONCAT('%', #{itemCd}, '%'))</if>
            <if test="lotNo != null and lotNo != ''">AND ls.LOT_NO LIKE CONCAT('%', #{lotNo}, '%')</if>
            <if test="excludeZeroStock != null and excludeZeroStock == true">AND ls.STOCK_QTY > 0</if>
        </where>
    </select>

    <select id="selectLocStockById" resultType="com.mcs.domain.inventory.dto.LocStockDto">
        SELECT
            ls.LOC_STOCK_ID,
            ls.PLANT_CD,
            ls.LOCATION_ID,
            ls.ITEM_CD,
            ls.LOT_NO,
            ls.STOCK_QTY,
            ls.RESERVED_QTY,
            ls.AVAILABLE_QTY,
            ls.REG_USER_ID,
            ls.REG_DTM,
            ls.UPD_USER_ID,
            ls.UPD_DTM,
            p.PLANT_NM,
            w.WAREHOUSE_NM,
            z.ZONE_NM,
            l.LOCATION_CD,
            l.LOCATION_NM,
            i.ITEM_NM,
            i.ITEM_SPEC,
            i.UNIT
        FROM MCS_LOCATION_STOCK ls
        INNER JOIN MST_PLANT p ON ls.PLANT_CD = p.PLANT_CD
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        WHERE ls.LOC_STOCK_ID = #{locStockId}
    </select>

    <select id="selectLocStockForUpdate" resultType="com.mcs.domain.inventory.dto.LocStockDto">
        SELECT
            ls.LOC_STOCK_ID,
            ls.PLANT_CD,
            ls.LOCATION_ID,
            ls.ITEM_CD,
            ls.LOT_NO,
            ls.STOCK_QTY,
            ls.RESERVED_QTY,
            ls.AVAILABLE_QTY,
            ls.REG_USER_ID,
            ls.REG_DTM,
            ls.UPD_USER_ID,
            ls.UPD_DTM,
            p.PLANT_NM,
            w.WAREHOUSE_NM,
            z.ZONE_NM,
            l.LOCATION_CD,
            l.LOCATION_NM,
            i.ITEM_NM,
            i.ITEM_SPEC,
            i.UNIT
        FROM MCS_LOCATION_STOCK ls
        INNER JOIN MST_PLANT p ON ls.PLANT_CD = p.PLANT_CD
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        WHERE ls.PLANT_CD = #{plantCd}
          AND ls.LOCATION_ID = #{locationId}
          AND ls.ITEM_CD = #{itemCd}
          AND ls.LOT_NO = COALESCE(#{lotNo}, '')
        FOR UPDATE
    </select>

    <select id="selectAvailableLocStocksForMaterialRequest" resultType="com.mcs.domain.inventory.dto.LocStockDto">
        SELECT
            ls.LOC_STOCK_ID,
            ls.PLANT_CD,
            ls.LOCATION_ID,
            ls.ITEM_CD,
            ls.LOT_NO,
            ls.STOCK_QTY,
            ls.RESERVED_QTY,
            ls.AVAILABLE_QTY,
            ls.REG_USER_ID,
            ls.REG_DTM,
            ls.UPD_USER_ID,
            ls.UPD_DTM,
            p.PLANT_NM,
            w.WAREHOUSE_NM,
            z.ZONE_NM,
            l.LOCATION_CD,
            l.LOCATION_NM,
            i.ITEM_NM,
            i.ITEM_SPEC,
            i.UNIT
        FROM MCS_LOCATION_STOCK ls
        INNER JOIN MST_PLANT p ON ls.PLANT_CD = p.PLANT_CD
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        WHERE ls.PLANT_CD = #{plantCd}
          AND ls.ITEM_CD = #{itemCd}
          AND ls.AVAILABLE_QTY &gt;= #{requestQty}
          AND l.USE_YN = 'Y'
        ORDER BY ls.AVAILABLE_QTY DESC, ls.REG_DTM, l.LOCATION_CD
    </select>

    <insert id="insertLocStock" parameterType="com.mcs.domain.inventory.dto.LocStockDto">
        INSERT INTO MCS_LOCATION_STOCK (
            PLANT_CD, LOCATION_ID, ITEM_CD, LOT_NO, STOCK_QTY, RESERVED_QTY, REG_USER_ID, REG_DTM
        ) VALUES (
            #{plantCd}, #{locationId}, #{itemCd}, COALESCE(#{lotNo}, ''), #{stockQty}, COALESCE(#{reservedQty}, 0), #{regUserId}, NOW()
        )
    </insert>

    <update id="updateLocStockQty">
        UPDATE MCS_LOCATION_STOCK
        SET STOCK_QTY = STOCK_QTY + #{adjustQty},
            UPD_USER_ID = #{updUserId},
            UPD_DTM = NOW()
        WHERE LOC_STOCK_ID = #{locStockId}
    </update>

    <update id="syncLocationUsage">
        UPDATE MCS_LOCATION l
        LEFT JOIN (
            SELECT LOCATION_ID, COALESCE(SUM(STOCK_QTY), 0) AS CURRENT_USAGE
            FROM MCS_LOCATION_STOCK
            WHERE LOCATION_ID = #{locationId}
            GROUP BY LOCATION_ID
        ) s ON l.LOCATION_ID = s.LOCATION_ID
        SET l.CURRENT_USAGE = COALESCE(s.CURRENT_USAGE, 0),
            l.LOCATION_STATUS = CASE
                WHEN COALESCE(s.CURRENT_USAGE, 0) <![CDATA[<=]]> 0 THEN 'EMPTY'
                WHEN COALESCE(s.CURRENT_USAGE, 0) <![CDATA[>=]]> l.MAX_CAPACITY THEN 'FULL'
                ELSE 'PARTIAL'
            END,
            l.UPD_USER_ID = #{updUserId},
            l.UPD_DTM = NOW()
        WHERE l.LOCATION_ID = #{locationId}
    </update>

    <!-- 이력 조회 -->
    <select id="selectLocTransHisList" resultType="com.mcs.domain.inventory.dto.LocTransHisDto">
        SELECT
            h.LOC_TRANS_ID,
            h.PLANT_CD,
            h.LOC_STOCK_ID,
            h.TRANS_TYPE,
            h.TRANS_QTY,
            h.BEFORE_QTY,
            h.AFTER_QTY,
            h.REF_TYPE,
            h.REF_NO,
            h.REF_ID,
            h.TRANS_RMK,
            h.REG_USER_ID,
            h.REG_DTM,
            p.PLANT_NM,
            c.COM_NM AS TRANS_TYPE_NM,
            w.WAREHOUSE_NM,
            z.ZONE_NM,
            l.LOCATION_CD,
            ls.ITEM_CD,
            i.ITEM_NM,
            ls.LOT_NO
        FROM MCS_LOC_TRANS_HIS h
        INNER JOIN MST_PLANT p ON h.PLANT_CD = p.PLANT_CD
        INNER JOIN MCS_LOCATION_STOCK ls ON h.LOC_STOCK_ID = ls.LOC_STOCK_ID
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        LEFT JOIN COM_CODE c ON c.GRP_CD = 'MCS_INV_TX_TYPE' AND h.TRANS_TYPE = c.COM_CD
        <where>
            <if test="plantCd != null and plantCd != ''">AND h.PLANT_CD = #{plantCd}</if>
            <if test="fromDate != null and fromDate != ''">AND h.REG_DTM <![CDATA[>=]]> CONCAT(#{fromDate}, ' 00:00:00')</if>
            <if test="toDate != null and toDate != ''">AND h.REG_DTM <![CDATA[<=]]> CONCAT(#{toDate}, ' 23:59:59')</if>
            <if test="transType != null and transType != ''">AND h.TRANS_TYPE = #{transType}</if>
            <if test="itemCd != null and itemCd != ''">AND (ls.ITEM_CD LIKE CONCAT('%', #{itemCd}, '%') OR i.ITEM_NM LIKE CONCAT('%', #{itemCd}, '%'))</if>
            <if test="locationCd != null and locationCd != ''">AND l.LOCATION_CD LIKE CONCAT('%', #{locationCd}, '%')</if>
        </where>
        ORDER BY h.REG_DTM DESC, h.LOC_TRANS_ID DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectLocTransHisCount" resultType="long">
        SELECT COUNT(*)
        FROM MCS_LOC_TRANS_HIS h
        INNER JOIN MCS_LOCATION_STOCK ls ON h.LOC_STOCK_ID = ls.LOC_STOCK_ID
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        <where>
            <if test="plantCd != null and plantCd != ''">AND h.PLANT_CD = #{plantCd}</if>
            <if test="fromDate != null and fromDate != ''">AND h.REG_DTM <![CDATA[>=]]> CONCAT(#{fromDate}, ' 00:00:00')</if>
            <if test="toDate != null and toDate != ''">AND h.REG_DTM <![CDATA[<=]]> CONCAT(#{toDate}, ' 23:59:59')</if>
            <if test="transType != null and transType != ''">AND h.TRANS_TYPE = #{transType}</if>
            <if test="itemCd != null and itemCd != ''">AND (ls.ITEM_CD LIKE CONCAT('%', #{itemCd}, '%') OR i.ITEM_NM LIKE CONCAT('%', #{itemCd}, '%'))</if>
            <if test="locationCd != null and locationCd != ''">AND l.LOCATION_CD LIKE CONCAT('%', #{locationCd}, '%')</if>
        </where>
    </select>

    <select id="selectLocTransHisByRef" resultType="com.mcs.domain.inventory.dto.LocTransHisDto">
        SELECT
            h.LOC_TRANS_ID,
            h.PLANT_CD,
            h.LOC_STOCK_ID,
            h.TRANS_TYPE,
            h.TRANS_QTY,
            h.BEFORE_QTY,
            h.AFTER_QTY,
            h.REF_TYPE,
            h.REF_NO,
            h.REF_ID,
            h.TRANS_RMK,
            h.REG_USER_ID,
            h.REG_DTM,
            p.PLANT_NM,
            c.COM_NM AS TRANS_TYPE_NM,
            w.WAREHOUSE_NM,
            z.ZONE_NM,
            l.LOCATION_CD,
            ls.ITEM_CD,
            i.ITEM_NM,
            ls.LOT_NO
        FROM MCS_LOC_TRANS_HIS h
        INNER JOIN MST_PLANT p ON h.PLANT_CD = p.PLANT_CD
        INNER JOIN MCS_LOCATION_STOCK ls ON h.LOC_STOCK_ID = ls.LOC_STOCK_ID
        INNER JOIN MCS_LOCATION l ON ls.LOCATION_ID = l.LOCATION_ID
        INNER JOIN MCS_ZONE z ON l.ZONE_ID = z.ZONE_ID
        INNER JOIN MST_WAREHOUSE w ON z.WAREHOUSE_CD = w.WAREHOUSE_CD
        INNER JOIN MST_ITEM i ON ls.ITEM_CD = i.ITEM_CD
        LEFT JOIN COM_CODE c ON c.GRP_CD = 'MCS_INV_TX_TYPE' AND h.TRANS_TYPE = c.COM_CD
        WHERE h.REF_TYPE = #{refType}
          AND (
              h.REF_NO = #{refNo}
              OR h.REF_ID = #{refId}
          )
        ORDER BY h.LOC_TRANS_ID
    </select>

    <insert id="insertLocTransHis" parameterType="com.mcs.domain.inventory.dto.LocTransHisDto">
        INSERT INTO MCS_LOC_TRANS_HIS (
            PLANT_CD, LOC_STOCK_ID, TRANS_TYPE, TRANS_QTY, BEFORE_QTY, AFTER_QTY,
            REF_TYPE, REF_NO, REF_ID, TRANS_RMK, REG_USER_ID, REG_DTM
        ) VALUES (
            #{plantCd}, #{locStockId}, #{transType}, #{transQty}, #{beforeQty}, #{afterQty},
            #{refType}, #{refNo}, #{refId}, #{transRmk}, #{regUserId}, NOW()
        )
    </insert>

    <update id="updateMesWarehouseStockQty">
        UPDATE INV_STOCK
        SET STOCK_QTY = STOCK_QTY + #{adjustQty},
            LAST_OUT_DT = CASE WHEN #{adjustQty} &lt; 0 THEN CURDATE() ELSE LAST_OUT_DT END,
            LAST_IN_DT = CASE WHEN #{adjustQty} &gt; 0 THEN CURDATE() ELSE LAST_IN_DT END,
            STOCK_AMT = (STOCK_QTY + #{adjustQty}) * COALESCE(UNIT_COST, 0),
            UPD_USER_ID = #{updUserId},
            UPD_DTM = NOW()
        WHERE PLANT_CD = #{plantCd}
          AND WAREHOUSE_CD = #{warehouseCd}
          AND LOCATION_CD = ''
          AND ITEM_CD = #{itemCd}
          AND LOT_NO = COALESCE(#{lotNo}, '')
          AND STOCK_QTY + #{adjustQty} &gt;= 0
    </update>

    <insert id="upsertMesWarehouseStockQty">
        INSERT INTO INV_STOCK (
            PLANT_CD, WAREHOUSE_CD, LOCATION_CD, ITEM_CD, LOT_NO, STOCK_QTY, RESERVED_QTY, UNIT,
            STOCK_STATUS, LAST_IN_DT, REG_USER_ID, REG_DTM
        )
        SELECT
            #{plantCd}, #{warehouseCd}, '', #{itemCd}, COALESCE(#{lotNo}, ''), #{adjustQty}, 0, i.UNIT,
            '정상', CURDATE(), #{regUserId}, NOW()
        FROM MST_ITEM i
        WHERE i.ITEM_CD = #{itemCd}
        ON DUPLICATE KEY UPDATE
            STOCK_QTY = STOCK_QTY + VALUES(STOCK_QTY),
            LAST_IN_DT = CURDATE(),
            STOCK_AMT = (STOCK_QTY + VALUES(STOCK_QTY)) * COALESCE(UNIT_COST, 0),
            UPD_USER_ID = #{regUserId},
            UPD_DTM = NOW()
    </insert>

    <insert id="insertMesTransferHistory">
        INSERT INTO INV_TRANS_HIS (
            PLANT_CD, TRANS_NO, TRANS_DT, TRANS_TYPE, TRANS_REASON,
            ITEM_CD, LOT_NO, TRANS_QTY, UNIT,
            FROM_WAREHOUSE_CD, TO_WAREHOUSE_CD, FROM_LOCATION_CD, TO_LOCATION_CD,
            REF_TYPE, REF_NO, REF_ID, TRANS_USER_ID, TRANS_RMK, REG_USER_ID, REG_DTM
        )
        SELECT
            #{plantCd}, #{transNo}, CURDATE(), '이동', 'MCS이동',
            #{itemCd}, COALESCE(#{lotNo}, ''), #{transQty}, i.UNIT,
            #{fromWarehouseCd}, #{toWarehouseCd}, #{fromLocationCd}, #{toLocationCd},
            'TF', #{refNo}, #{refId}, #{transUserId}, 'MCS 로케이션 이동 완료', #{regUserId}, NOW()
        FROM MST_ITEM i
        WHERE i.ITEM_CD = #{itemCd}
    </insert>

</mapper>
